.scan-btn {
    height: 7em;
    width: 7em;
    --border-radius: 50%;
}

.scan-row {
    text-align: center;
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
}

.scan-container {
    height: 100% !important;
}

ion-icon {
    font-size: 3em;
}