<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img class="header-icon" src="../../assets/icon.png" height="30">
    </ion-buttons>
    <ion-title>New device</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="scan-container">
    <ion-row class="ion-justify-content-between">
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-icon slot="start" name="key-outline"></ion-icon>
            <ion-input #inputKey placeholder="Enter access key"></ion-input>
            <ion-button fill="outline" slot="end" (click)="bindController(inputKey.value)">Bind</ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="scan-row">
      <ion-col>
        <ion-button color="primary" class="scan-btn" size="large" (click)="scanCode()">
          <ion-icon name="scan-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
