.talk-btn {
  height: 7em;
  width: 7em;
  --border-radius: 50%;
}

.speech-row {
  text-align: center;
  height: 100% !important;
  align-items: center !important;
  justify-content: center !important;
}

.speech-container {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.command-list {
  max-height: 260px;
  width: 350px;
  overflow: scroll;
}

ion-icon {
  font-size: 3em;
}

#video {
  width: 100% !important;
  height: auto !important;
}

video::-webkit-media-controls-timeline,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-timeline-container,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-volume-slider-container {
  display: none;
}
