<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img class="header-icon" src="../../assets/icon.png" height="30">
    </ion-buttons>
    <ion-title>My devices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="devices.length; else noDevices">
    <ion-item-sliding *ngFor="let device of devices">
      <ion-card [disabled]="device.status !== 'online'">
        <ion-item-options side="end">
          <ion-item-option (click)="forgetDevice(device)">Forget</ion-item-option>
        </ion-item-options>
        <ion-item lines="none" (click)="activateDevice(device)">
          <ion-icon [name]="DEVICE_ICONS[device.type]" slot="start"></ion-icon>
          <ion-label>{{ device.name }}</ion-label>
          <div slot="end" class="status" [ngClass]="device.status"></div>
        </ion-item>
      </ion-card>
    </ion-item-sliding>
  </ion-list>
  <ng-template #noDevices>
    <ion-grid class="no-devices-container">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-icon size="large" slot="start" name="search-outline"></ion-icon>
              <ion-label>No devices...</ion-label>
            </ion-item>
            <ion-card-content>
              You have no devices connected yet
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="no-devices-row">
        <ion-col>
          <ion-button size="large" expand="full" fill="outline" (click)="navigateToBinding()">
            Add new one<ion-icon slot="end" name="arrow-round-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
